<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Document</title>
    <style>
            .app-form input{
              border-radius: 0;
            }
            .taskDone {
              text-decoration: line-through;
            }
          </style>
</head>
<body>
    
   <div class="container">
        <div id="taskApp">
            <hr>
                <h1 class="jumbotron">Vue.Js</h1>

                <div id="app">
                    <table class="table">
                        <thead>
                            <th>&nbsp;</th>
                            <th>Descripción</th>
                            <th>Monto</th>
                            <th>Estado</th>
                        </thead>
                        <tbody>
                                <tr>
                                        
                                        <td>&nbsp;</td>
                                        <td><input type="text" class="form-control" placeholder="Descripción" v-model="newEntry.name"></td>
                                        <td><input type="text" class="form-control" placeholder="Monto" v-model="newEntry.amount"></td>
                                        <td><button @click="add()" type="submit" class="btn btn-block btn-success">Agregar</button></td>
                                      
                                    </tr>

                                <tr v-if="items.length === 0">
                                        
                                        <td colspan="4" class="text-center">No hay registros por mostrar</td>
                                      
                                    </tr>
                            <tr v-for="item,index in items">
                                <td>
                                    <button @click='remove(index)' class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button></td>
                                <td>{{item.name}}</td>
                                <td>{{item.amount.toFixed(2)}}</td>
                                <td :title="item.paid ? 'Pagado' : 'Sin Pagar'">
                                    <button class="btn" @click="changePaid(item)" style="width:3em;" :class="{ 'btn-success': item.paid }">
                                    <i v-if="item.paid" class="fas fa-check"></i>
                                    <i v-if="!item.paid" class="fas fa-times"></i>
                                </button></td>
                            </tr>
                        </tbody>
                        <tfoot>
                                <tr class="text-danger">
                                        <td></td>
                                    <td class="text-right">Por Pagar</td>
                                    <td class="text-left">{{totalAmount(0)}}</td>
                                    <td></td>
                                </tr>
                                <tr class="text-success">
                                        <td></td>
                                    <td class="text-right">Pagado</td>
                                    <td class="text-left">{{totalAmount(1)}}</td>
                                    <td></td>
                                </tr>
                                <tr class="text-info">
                                        <td></td>
                                    <td class="text-right">Total</td>
                                    <td class="text-left">{{totalAmount(2)}}</td>
                                    <td></td>
                                </tr>
                        </tfoot>
                    </table>
                </div>

               
            </div>
   </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
var app = new Vue({
    el: '#app',
    data: {
        newEntry: {
            name: '',
            amount: 0,
        },
        items: [
            {name: 'Servicios',amount:200,paid:false},
            {name: 'Cuentas',amount:90,paid:true}
        ]
    },
    methods: {
        remove: function(index){
            this.items.splice(index,1);
        },
        add: function(){
            this.items.push({
                name: this.newEntry.name,
                amount: parseFloat(this.newEntry.amount),
                paid: false
            });
            this.newEntry.name = '';
            this.newEntry.amount = 0;
        },
        changePaid: function(item){
            item.paid = !(item.paid);
        },
        totalAmount: function(t){
            var total = this.items.reduce(function(a,b){
               switch(t){
                   case 0: return a + (!b.paid ? b.amount : 0)
                   case 1: return a + (b.paid ? b.amount : 0);
                   case 2: return a + b.amount;
               }
            },0);
            return total.toFixed(2);   
        }

        // add: function(e){
        //     this.items.push({
        //         name: this.name,
        //         amount: this.amount,
        //         paid: false
        //     })
        // }
    }
})
</script>
</html>