body{
    background: rgba(169,3,41,1);
background: -moz-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,3,41,1)), color-stop(44%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
background: -o-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
background: -ms-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
}

.container {
    background: rgba(46,46,46,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(46,46,46,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(46,46,46,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(46,46,46,1) 0%, rgba(0,0,0,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(46,46,46,1) 0%, rgba(0,0,0,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(46,46,46,1) 0%, rgba(0,0,0,1) 100%);
background: radial-gradient(ellipse at center, rgba(46,46,46,1) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#000000', GradientType=1 );
    color:white;
    -webkit-box-shadow: 0px 3px 9px 2px rgba(0,0,0,0.37);
-moz-box-shadow: 0px 3px 9px 2px rgba(0,0,0,0.37);
box-shadow: 0px 3px 9px 2px rgba(0,0,0,0.37);
}
.app-form input{
    border-radius: 0;
  }
  .taskDone {
    text-decoration: line-through;
  }

.table thead th{
    border-bottom:1px solid rgba(255, 255, 255, 0.178);
}

.table td{
border-bottom: 1px solid rgba(255, 255, 255, 0.178);
}

.jumbotron{
    background-color:rgba(192, 192, 192, 0.068);
}